title: Your awesome title
author: GitHub User
email: your-email@domain.com
description: > # this means to ignore newlines until "twitter_username:"
  Write an awesome description for your new site here. You can edit this
  line in _config.yml. It will appear in your document head meta (for
  Google search results) and in your feed.xml site description.

# social links
social:
  # - type: dribbble
  #   username: jekyll
  # - type: facebook
  #   username: jekyll
  # - type: flickr
  #   username: jekyll
  - type: github
    username:  jekyll
  # - type: instagram
  #   username: jekyll
  # - type: linkedin
  #   username: jekyll
  # - type:  pinterest
  #   username: jekyll
  # Mastodon instances
  # - type: mastodon
  #   username: jekyll
  #   instance: example.com
  # - type: mastodon
  #   username: jekyll2
  #   instance: example.com
  - type: twitter
    username: jekyllrb
  # - type: youtube
  #   username: jekyll
  # - type: googleplus
  #   username: +jekyll
  # - type: rss
  #   display_name: rss
  #   feed: /feed.xml

rss: rss

# Post Comments (powered by Disqus)
# disqus:
#   shortname: my_disqus_shortname

# Google Analytics
# google_analytics: UA-NNNNNNNN-N

# Language Code
# lang: en

show_excerpts: false # set to true to show excerpts on the homepage

# Minima date format
# refer to http://shopify.github.io/liquid/filters/date/ if you want to customize this
minima:
  date_format: "%b %-d, %Y"

# If you want to link only specific pages in your header, uncomment
# this and add the path to the pages in order as they should show up
#header_pages:
# - about.html

# Build settings
theme: minima

plugins:
 - jekyll-feed
 - jekyll-seo-tag


#------------------
# Content Filtering

# Exclude
# Extension of the internal default list of files and/or directories to be
# excluded from processing.  Entries in this list will not end up in the
# 'destination' ('_site') directory.  Path exclusions are performed relative
# to the 'source' (repository root) directory.
#
# NOTE: An excluded item may be explicitly processed by listing the
# corresponding path in the list defined by the `include` key.
# WARNING: Dot-prefixed files and directories are excluded by default.
#
# exclude:
#   - .sass-cache/
#   - .jekyll-cache/
#   - gemfiles/
#   - Gemfile
#   - Gemfile.lock
#   - node_modules/
#   - vendor/bundle/
#   - vendor/cache/
#   - vendor/gems/
#   - vendor/ruby/
exclude:
  - vendor/
  - CODE_OF_CONDUCT.md
  - History.markdown
  - LICENSE.txt
  - minima.gemspec
  - README.md
  - screenshot.png
  - theme_version.rb

# Include
# Include files and/or directories in the conversion.  Path inclusions are
# performed relative to the 'source' (repository root) directory.
# NOTE: Dot-prefixed files are excluded by default.
#
# include: [".htaccess"]
include: []

# Content Filtering
#------------------
