<footer class="site-footer h-card">
    <data class="u-url" href="{{ "/" | relative_url }}"></data>

    <div class="wrapper">

        <h2 class="footer-heading">{{ site.data.Settings.title | escape }}</h2>

        <div class="footer-col-wrapper">
            <div class="footer-col footer-col-1">
                <ul class="contact-list">
                    <li class="p-name">
                        {%- if site.data.Settings.author.name -%}
                            {{ site.data.Settings.author.name | escape }}
                        {%- else -%}
                            {{ site.data.Settings.title | escape }}
                        {%- endif -%}
                    </li>
                    {%- if site.data.Settings.author.email -%}
                    <li><a class="u-email" href="mailto:{{ site.data.Settings.author.email }}">{{ site.data.Settings.author.email }}</a></li>
                    {%- endif -%}
                </ul>
            </div>

            <div class="footer-col footer-col-2">
                {%- include social.html -%}
            </div>

            <div class="footer-col footer-col-3">
                <p>{{- site.data.Settings.description | escape -}}</p>
            </div>
        </div>

    </div>

</footer>
