name: Release Gem

on:
  push:
    branches:
      - "2.5-stable"
    paths:
      - "theme_version.rb"
  workflow_dispatch:
    # Support manual trigger

jobs:
  release:
    if: "github.repository_owner == 'chaoscommencer'"
    name: "Release Gem (Ruby ${{ matrix.ruby_version }})"
    permissions:
      contents: read
    runs-on: "ubuntu-latest"
    strategy:
      fail-fast: true
      matrix:
        ruby_version: [ "3.3" ]
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4
      - name: "Set up Ruby ${{ matrix.ruby_version }}"
        uses: ruby/setup-ruby@32110d4e311bd8996b2a82bf2a43b714ccc91777 # v1
        with:
          ruby-version: ${{ matrix.ruby_version }}
          bundler-cache: true
      - name: Build and Publish Gem
        # Disable this step to prevent attempts to publish to the minima
        # Gem
        if: false
        uses: ashmaroli/release-gem@1a45b8631a76e8697698896fa056d2322cfc5887 # dist
        with:
          gemspec_name: minima
        env:
          GEM_HOST_API_KEY: ${{ secrets.RUBYGEMS_GEM_PUSH_API_KEY }}
